@model GymSysM.Models.Planilla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Planilla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Horas Trabajadas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasTrabajadas)
        </dd>
        <dt class = "col-sm-2">
            Salario Hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioHora)
        </dd>
        <dt class = "col-sm-2">
            Salario Bruto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>
        <dt class = "col-sm-2">
            Salario Neto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>
        <dt class = "col-sm-2">
            CCSS
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ccss)
        </dd>
        <dt class = "col-sm-2">
            Empleado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.Dni)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPlanilla">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
