@model GymSysM.Models.CategoriaEmpleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoriaEmpleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Salario por Hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioHora)
        </dd>
        <dt class = "col-sm-2">
            Salario Base
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCategoriaEmpleado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
